@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://wallpaper.forfun.com/fetch/b4/b4d430320229744245679e19e50b6f03.jpeg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(60px + 100vw);
    height: calc(60px + 100vh);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    color: white;
    font-size: 50px;
}